<!--TypeTrip שליפת טבלת  -->

<!-- <label *ngFor="let t of TypeTripService.allTypeTrip">
<p>{{t.typeId}}</p>
<p>{{t.typeName}}</p>
</label> -->


<div class="container">
    <h1 id="name" *ngIf="userService.currencyUser">{{ userService.currencyUser.firstName + ' ' + userService.currencyUser.lastName }}</h1>
    <nav>
        <ul>
           
            <a routerLink="./login"><li class="route">כניסה</li></a>
            <a *ngIf="userService.manager==false" routerLink="./register/new"><li class="route">הרשמה</li></a>
            <a *ngIf="userService.manager==false" routerLink="./home" ><li class="route">
                <img src='../assets/image/logo.png' id="pic">
                </li></a>
            <a routerLink="./ourTrips"><li class="route">הטיולים שלנו</li></a>
            <a *ngIf="userService.currencyUser && userService.manager==false" routerLink="./personal"><li class="route">איזור אישי</li></a>
            <a *ngIf="userService.manager==true" routerLink="./users"><li class="route">המשתמשים שלנו</li></a>
           
        </ul>
        
    </nav>


</div>
<router-outlet></router-outlet>

