<!--user שליפת טבלת  -->

<!-- <label *ngFor="let t of userService.allUsers">
<p>{{t.userId}}</p>
<p>{{t.firstName}}</p>
<p>{{t.lastName}}</p>
<p>{{t.phone}}</p>
<p>{{t.email}}</p>
<p>{{t.password}}</p>
<p>{{t.isFirstAid}}</p>
<p>--------------------------------------</p>
</label> -->


<section>
    <!-- <img src="../assets/image/sky.png" alt="Sky Image"> -->
    <div class="login-container">

        <h2>כניסה</h2>

        <form [formGroup]="myForm" (ngSubmit)="save()">

            <!-- email -->
            <div class="input-box">
                <span class="icon">
                    <img src='../assets/image/mail.png' id="pic">
                    <!-- <i class="fa-solid fa-envelope"></i> -->
                </span>

                <input formControlName="email" type="text" id="email" required name="r">
                <label for="email">מייל</label>
            </div>
            <div id="error" *ngIf="gEmail.invalid &&(gEmail.touched || gEmail.dirty)">
                <p *ngIf="gEmail.errors!['pattern']">כתובת האימייל שגויה</p>
                <p *ngIf="gEmail.errors!['required']">שדה חובה</p>
            </div>
            <!-- password -->
            <div class="input-box">
                <span class="icon">
                    <img src='../assets/image/password.png' id="pic">
                    <!-- <i class="fa-solid fa-lock"></i> -->
                </span>

                <input formControlName="password" required type="password" id="pw" name="p">
                <label for="pw">סיסמה</label>
            </div>
            <div id="error" *ngIf="gPassword.invalid &&(gPassword.touched || gPassword.dirty)">
                <p *ngIf="gPassword.errors!['minlength']">סיסמה חלשה</p>
                <p *ngIf="gPassword.errors!['required']">שדה חובה</p>
            </div>


            <button type="submit" [style.background-color]="myForm.valid ? '#0500a0' : '#0500a00d'"
            [style.cursor]="myForm.valid ? 'pointer' : 'not-allowed'"
            [disabled]="!myForm.valid" value="submit" id="submitBtn">שליחה</button>


        </form>
    </div>
</section>